@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded');

html,body {
    font-family: 'Encode Sans Expanded', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.counter {
    padding: 10px;
}

.counter-controls {
    display: inline-block;
    margin-left: 10px;
}

button {
    margin-right: 4px;
}